################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
*.pyc
save_file.json
node_modules/.package-lock.json
node_modules/*
package-lock.json
save_file.json
*.pyc
NGIN/__pycache__/__init__.cpython-*.pyc
NGIN/__pycache__/SimulaeCampaignGenerator.cpython-*.pyc
NGIN/__pycache__/SimulaeNode.cpython-*.pyc
NGIN/__pycache__/test_SimulaeNode.cpython-*.pyc
NGIN/FactionGenerator/__pycache__/__init__.cpython-*.pyc
NGIN/FactionGenerator/__pycache__/faction_generator.cpython-*.pyc
NGIN/NGIN_config/__pycache__/__init__.cpython-*.pyc
NGIN/NGIN_config/__pycache__/madlibs.cpython-*.pyc
NGIN/NGIN_utils/__pycache__/__init__.cpython-*.pyc
NGIN/NGIN_utils/__pycache__/ngin_utils.cpython-*.pyc
