################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
*.pyc
save_file.json
node_modules/.package-lock.json
node_modules/*
package-lock.json
save_file.json
*.pyc
